database:
  host: {{ postgres_host }}
  port: {{ postgres_port }}
  user: {{ postgres_user }}
  password: {{ postgres_password }}
  name: {{ postgres_db }}

mariaDB:
  host: {{ mariadb_host }}
  port: {{ mariadb_port }}
  user: {{ mariadb_user }}
  password: {{ mariadb_password }}
  database: {{ mariadb_database }}

server:
  host: localhost
  port: 3300

jwt:
  secret: {{ jwt_secret }}
  accessTokenExpiresIn: 15m
  refreshTokenExpiresIn: 2160h

ldap:
  url: ldap://{{ ldap_host }}:389
  baseDN: dc=ema,dc=fr

age:
  publicKey: {{ age_public_key }}
