GITHUB_DOCKER_TOKEN={{ github_docker_token }}

POSTGRES_HOST={{ postgres_host }}
POSTGRES_PORT={{ postgres_port }}
POSTGRES_USER={{ postgres_user }}
POSTGRES_PASSWORD={{ postgres_password }}
POSTGRES_DB={{ postgres_db }}

MARIADB_HOST={{ mariadb_host }}
MARIADB_PORT={{ mariadb_port }}
MARIADB_USER={{ mariadb_user }}
MARIADB_PASSWORD={{ mariadb_password }}
MARIADB_DB={{ mariadb_database }}

LDAP_HOST={{ ldap_host }}

JWT_SECRET_ELEVE={{ jwt_secret_eleve }}
JWT_SECRET_ADMIN={{ jwt_secret_admin }}

AGE_PUBLIC_KEY={{ age_public_key }}
PRESENCE_TOKEN_SECRET={{ presence_token_secret }}

WITNESS_RECIPIENT={{ witness_recipient }}
SMTP_HOST={{ smtp_host }}
SMTP_PORT={{ smtp_port }}

RACK_API_KEY={{ rack_api_key }}
{% if gotenberg_enabled | default(true) %}
GOTENBERG_URL=http://host.containers.internal:{{ gotenberg_port | default(3000) }}
{% endif %}
