.vscode/secrets.env
infras/liquibase/liquibase_libs
**/__debug*
/back/**/gen/*
**/*.log
**/*.xlsx
**/*.xlsx#
**/*.docx
apps/web-admin/node_modules
apps/web-admin/.vite
apps/web-admin/dist
devedb_backup.dump
feedback_classification.sql
**/*.age*
cle_privee.txt
infras/migration/migration
infras/serveur-ia/serveur-ia
**/db.go
**/models.go
**/query.sql.go
**/cmd
**/testconfig.yaml


