RAGARENN_API_KEY=
RACK_API_KEY=
MISTRAL_API_KEY=

JWT_SECRET_ADMIN=
JWT_SECRET_ELEVE=

# PostgreSQL (admin & student)
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# MariaDB (admin & student)
MARIADB_HOST=
MARIADB_PORT=
MARIADB_DB=
MARIADB_USER=
MARIADB_PASSWORD=

GITHUB_DOCKER_TOKEN=

AGE_PUBLIC_KEY=

HOST=localhost




